body {
  font-family: "Encode Sans", sans-serif;
  justify-content: center;
}

body img {
  border-radius: 12px;
  margin-bottom: 11px;
}

.conteudo img:hover {
  filter: brightness(0.9);
  transition: filter 0.5s ease;
}

body p:hover {
  filter: brightness(1.2);
  transition: filter 0.5s ease;
}

.logo {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  width: 171px;
  height: 36;
}

.horizontal-line-top {
  height: 1px;
  background-color: #f5f6f7;
  width: 1250px;
  margin: 0 auto; /* Centraliza a linha */
  margin-bottom: 19px;
}

.topo {
  background-color: white;
  display: flex;
  width: 1250px;
  justify-content: space-between;
  margin: 0 auto;
}

.topo p {
  font-weight: bold;
  font-size: 19px;
}

.topo a:nth-child(1) .topo-texto {
  color: #c3170c;
}
.topo a:nth-child(2) .topo-texto {
  color: #1e4b9b;
}
.topo a:nth-child(3) .topo-texto {
  color: #006766;
}
.topo a:nth-child(4) .topo-texto {
  color: #07aa47;
}
.topo a:nth-child(5) .topo-texto {
  color: #e3662b;
}
.topo a:nth-child(6) .topo-texto {
  color: #fb0735;
}
.topo a:nth-child(7) .topo-texto {
  color: #ff75bb;
}
.topo a:nth-child(8) .topo-texto {
  color: #ec7d00;
}
.topo a:nth-child(9) .topo-texto {
  color: #323333;
}
.topo a:nth-child(10) .topo-texto {
  color: #a81d83;
}

.horizontal-line-bottom {
  height: 1px;
  background-color: #f5f6f7;
  width: 1250px;
  margin: 0 auto; /* Centraliza a linha */
  margin-top: 19px;
  margin-bottom: 31px;
}

.conteudo {
  background-color: white;
  width: 1250px;
  margin: 0 auto;
  display: flex;
}

.esquerda {
  background-color: white;
}

.destaque a:nth-child(1) .destaque-texto {
  font-size: 52px;
  font-weight: bold;
  color: #c4160c;
  margin-bottom: 29px;
}

.destaque a:nth-child(2) .destaque-texto {
  font-size: 18px;
  color: #303134;
  font-weight: 500;
  margin-bottom: 14px;
}

.destaque a:nth-child(3) .destaque-texto {
  font-size: 18px;
  color: #303134;
  font-weight: 500;
}

.separador-esquerda-top {
  height: 1px;
  background-color: #ebedef;
  margin-top: 25px;
  margin-bottom: 25px;
}

.g1-cima {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.g1-titulo {
  color: #c4170c;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.manchete-esquerda {
  color: #2f3134;
  font-size: 20px;
  font-weight: 700;
  width: 192px;
  line-height: 25px;
  letter-spacing: -1px;
}

.texto-noticia-esquerda {
  color: #2f3134;
  font-size: 14px;
  font-weight: 400;
  width: 180px;
  letter-spacing: -0.5px;
}

.separador-esquerda-bot {
  height: 1px;
  background-color: #ebedef;
  margin-top: 40px;
  margin-bottom: 25px;
}

.g1-baixo {
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.separador-vertical {
  width: 1px;
  height: 810px;
  background-color: #ebedef;
  margin-left: 36px;
  margin-right: 35px;
}

.direita {
  display: flex;
}

.direita img {
  width: 240px;
  height: 128px;
}

.ge-titulo {
  color: #16ae54;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.gshow-titulo {
  color: #ec8006;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}

.manchete {
  color: #2f3134;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -1px;
}

.texto-noticia {
  color: #2f3134;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.5px;
}

.coluna-direita a:nth-child(10) .texto-noticia {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}
